<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; padding-top: 20px; padding-bottom: 20px;">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" *ngIf="todo_task">
      <ul class="list-group" *ngFor="let t of todo_task | async">
        <li class="list-group-item">Task 1</li>
        <li class="list-group-item">{{t.name}}
          <ul class="list-group inner">
            <li class="list-group-item">Item 2a</li>
            <li class="list-group-item">Item 2b</li>
          </ul>
        </li>
        <!--<li class="list-group-item">Three-->
          <!--&lt;!&ndash;<ul class="list-group inner">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="list-group-item">Item 3a</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="list-group-item">Item 3b</li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
